.booking-form {
  align-items: baseline;
  display: grid;
  grid-column-gap: 48px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 48px;

  &__radio-label {
    margin-right: 16px;
  }

  &__radio-button {
    margin-right: 16px;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__toggle-field {
    align-items: baseline;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 100px 120px 1fr;
  }
}
