<mat-toolbar>
  <div class="toolbar-layout">

    <div class="toolbar-meta">
      <span class="toolbar-meta__label mat-h4">Placeholder label:</span>
      <span class="toolbar-meta__value mat-h4">Placeholder value</span>
    </div>
    <div class="toolbar-meta">
      <span class="toolbar-meta__label mat-h4">Placeholder label:</span>
      <span class="toolbar-meta__value mat-h4">Placeholder value</span>
    </div>

    <button mat-button color="primary">
      <mat-icon aria-hidden="false">done_outline</mat-icon>
      <span class="toolbar-label">Confirmer + OT</span>
    </button>
    <button mat-button color="primary">
      <mat-icon aria-hidden="false">done_outline</mat-icon>
      <span class="toolbar-label">Confirmer + MAD</span>
    </button>
    <button mat-button color="primary">
      <mat-icon aria-hidden="false">done_outline</mat-icon>
      <span class="toolbar-label">Confirmer</span>
    </button>
    <button mat-button color="primary">
      <mat-icon aria-hidden="false">save_outline</mat-icon>
      <span class="toolbar-label">Sauvegarder</span>
    </button>
    
  </div>
</mat-toolbar>